
<div class="py-5 text-center text-white">
        <h2>Concursos</h2>
</div>
<input hidden type="number" name="flag" id="flag" value={{userLogado.flagadm}} >
<div class="container2">
{{#each concursos}}
  <div class="card">
    <div class="card__header">
      <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>{{nome}}</h4>
      <div class="card_text"><p>{{descricao}}</p></div>
    </div>
    <div class="card__footer">
        <form action="/infoConcurso/{{nome}}" method="get">  
            <button class="button" style="vertical-align:middle" type="submit" value="Visualisar" ><span>Visualizar </span></button>
        </form>
    </div>
    <form action="/concursoList/excluir" method="post">
        
        <input hidden type="integer" name="id" value={{id}}>
      <button class="button" style="vertical-align:middle" type="submit" name="btnExcluir" value="Excluir"
          onclick=msg()><span>Inativar </span></button>
          
        <script>
          function msg() {
            alert("Concurso Inativado!")
          }
        </script>
    </form>
  </div>
{{/each}}
</div>