
<h1>{{ concursoSelecionado.nome }}</h1>
<br> <br> 






Incrições até: <p> {{ concursoSelecionado.dtMaxPart }}</p>
Votação ocorre até: <p> {{ concursoSelecionado.dtFimConcurso }}</p>
<br> <br> 

<h2>Participar</h2>
<br> <br>
<form action="/participacaoCreate" method="post" enctype="multipart/form-data">
        <input type="text" name="id" value={{concursoSelecionado.id}} hidden>  
        <input type="text" name="concurso" value={{concursoSelecionado.nome}} hidden>  
        <input type="text" id="data" name="data" value={{concursoSelecionado.dtMaxPart}} hidden >  
        <input type="text" id="dataFinal" name="dataFinal" value={{concursoSelecionado.dtFimConcurso}} hidden >  
        Descrição:  <input type="text" name="descricao">
        <br> <br> 
        Imagem: <input type="file" name="imagem">
        <button class="button" style="vertical-align:middle" type="submit" id="btn" value="Participar" onclick=msg()><span>Participar </span></button>
        <script>
            function msg()
            {
              alert("Participação Efetuada!")
            }
        </script>

</form>







<br> <br>
    <h1>Participações</h1>
<br> <br>

<div class="container">
{{#each participacoesConcurso}}
  <div class="card">
    <div class="card__header">
      <img src="../uploads/{{concursoId}}0690{{id}}.jpg" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>Inscrição: {{id}}</h4>
      <p>{{descricao}}</p>
      <p>Numero de votos: {{qtdVotos}}</p>
      <form action="/participacaoList/votar" method="post">  
            <input hidden type="integer" name="id" value={{id}}>
            <button class="button" style="vertical-align:middle" type="submit" name="btnVoto" value="Votar" onclick=msg()><span>Votar </span></button>
            <script>
            function msg()
            {
              alert("Voto computado! Obrigado pela participação")
            }
            </script>
    </form>
    </div>
    <div class="card__footer"></div>
  </div>
{{/each}}
</div>