<h1> Pagina do Concurso</h1>


<p> {{ concursoSelecionado.nome }}</p>


<h2>Participar</h2>
<form action="/participacaoCreate" method="post">
        <input type="text" name="concurso" value={{concursoSelecionado.nome}} hidden>  
        Descrição:  <input type="text" name="descricao">
        <br> <br> 
        <input type="submit" value="Participar" onclick=funcao1()>
        <script>
            function funcao1()
            {
              alert("Participação Efetuada!")
            }
        </script>

</form>

<br> <br>
<br> <br>

<table border="1px">
    <tr>
        <td> ID </td>
        <td> Descricao</td>
        <td> Qtd de Votos</td>
        <td> Votar </td>
        
    </tr>
    {{#each participacoesConcurso}}
    <tr>
        <td>{{id}}</td>
        <td>{{descricao}}</td>
        <td>{{qtdVotos}}</td>
        <td><form action="/participacaoList/votar" method="post">  
        <input hidden type="integer" name="id" value={{id}} >
        <input type="submit" value="Votar" onclick=funcao1()>
        <script>
            function funcao1()
            {
              alert("Voto computado! Obrigado pela participação")
            }
        </script>
         </form></td>
    </tr>
    {{/each}}
</table>
