<div class="container py-4">
  <div class="container">
    <main>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 fw-normal">{{ concursoSelecionado.nome }}</h1>
          <h2>Inscrições até: {{ concursoSelecionado.dtMaxPart }}</h2>
          <h2>Votações até: {{ concursoSelecionado.dtFimConcurso }}</h2>
        </div>
      </div>

      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-dark"></header>

      <div class="row g-5">
        <h2>Participar</h2>

        <div class="col-md-12 col-lg-12">

          <form action="/participacaoCreate" method="post" enctype="multipart/form-data">
            <input type="text" name="id" value={{concursoSelecionado.id}} hidden>
            <input type="text" name="concurso" value={{concursoSelecionado.nome}} hidden>
            <input type="text" id="data" name="data" value={{concursoSelecionado.dtMaxPart}} hidden>
            <input type="text" id="dataFinal" name="dataFinal" value={{concursoSelecionado.dtFimConcurso}} hidden>
            <input type="text" id="tipoMidia" name="tipoMidia" value={{concursoSelecionado.tipoMidia}} hidden>
            <div class="row g-3">

              <div class="col-sm-12">
                <label for="model" class="form-label fs-5">Descrição</label>
                <input type="text" name="descricao" class="form-control">
              </div>

              <div class="col-sm-12">
                <label for="model" class="form-label fs-5">Nome do Participante:</label>
                <input type="text" class="descricao" name="nomeParticipante">
              </div>

              <div class="col-sm-12">
                <label for="model" class="form-label fs-5">Celular do Participante</label>
                <input type="number" class="descricao" name="celular">
              </div>

              <div class="col-sm-6">
                <label for="model" class="form-label fs-5">Midia</label>
                <input type="file" class="form-control" name="imagem">
              </div>

              <center>
                <br><button id="btnCadastroConcurso" class="w-50 btn btn-lg btn-dark" type="submit"
                  onclick=msg()>Cadastrar</button>
              </center>
              <script>
                function msg() {
                  alert("Participação Efetuada!")
                }
              </script>


            </div>
          </form>
        </div>

      </div>
    </main>
  </div>
</div>

        <form action="/participacaoList/publicarCampeao" method="post"> 
            <input hidden type="text" name="id" value={{participacoesConcurso.[0].id}} >
            <input hidden type="text" name="descricao" value={{participacoesConcurso.[0].descricao}} >
            <input hidden type="text" id="qtdVotos" name="qtdVotos" value={{participacoesConcurso.[0].qtdVotos}} >
            <input hidden type="text" id="nomeParticipante" name="nomeParticipante" value={{participacoesConcurso.[0].nomeParticipante}} >
            <input hidden type="text" id="celular" name="celular" value={{participacoesConcurso.[0].celular}} >
            <input hidden type="text" id="imagemCapa" name="imagemCapa" value={{concursoSelecionado.fotoCapa}} >
            <input hidden type="text" id="nomeConcurso" name="nomeConcurso" value={{concursoSelecionado.nome}} >
           <button class="button" style="vertical-align:middle" type="submit" name="btnCampeao" id="btnCampeao" value="btnCampeao"
          ><span>Publicar Campeão </span></button>
        </form>


<div class="py-5 text-center text-white">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom text-dark"></header>
  <h2>Votação</h2>
</div>
<div class="container2">
  {{#each participacoesConcurso}}
  <div class="card">
    <div class="card__header">
      <video style="width: 300px;" controls src="../uploads/{{concursoId}}0690{{id}}.mp4" alt="card__image"
        class="card__image" width="600">
    </div>
    <div class="card__body">
      <h4>Inscrição: {{id}}</h4>
      <p>{{descricao}}</p>
      <h2><svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12.781 2.375c-.381-.475-1.181-.475-1.562 0l-8 10A1.001 1.001 0 0 0 4 14h4v7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7h4a1.001 1.001 0 0 0 .781-1.625l-8-10zM15 12h-1v8h-4v-8H6.081L12 4.601 17.919 12H15z"></path></svg>Votos: {{qtdVotos}}</h2>
      
      <form action="/participacaoList/votar" method="post">
        <input hidden type="integer" name="id" value={{id}}>
        <button class="button" style="vertical-align:middle" type="submit" name="btnVoto" value="Votar"
          onclick=msg()><span>Votar </span></button>
          
        <script>
          function msg() {
            alert("Voto computado! Obrigado pela participação")
          }
        </script>
      </form>
    </div>
    <div class="card__footer"></div>
  </div>
  {{/each}}
</div>