<table border="1px">
    <tr>
        <td> Nome </td>
        <td> Tipo</td>
        <td> Quantidade de Funcionários</td>
        <td> Proprietário</td>
        <td> Endereço</td>
    </tr>
    {{#each empresas}}
    <tr>
        <td>{{nome}}</td>
        <td>{{tipo}}</td>
        <td>{{qtdfuncionario}}</td>
        <td>{{proprietario}}</td>
        <td>{{endereco}}</td>
    </tr>
    {{/each}}
</table>