
<div class="container">
<table border="1px" id="customers">
    <tr>
        <td> Login </td>
        <td> Senha</td>
        <td> Pergunta Secreta</td>
        <td> Resposta Secreta</td>
        <td>Administrador</td>
    </tr>
{{#each usuarios}}
    <tr>
        <td>{{login}}</td>
        <td>{{senha}}</td>
        <td>{{pergunta_secreta}}</td>
        <td>{{resposta_pergunta}}</td>
        <td>{{flagadm}}</td>
    </tr>
{{/each}}
</table>
</div>